var env = process.env.NODE_ENV;
var config = {
  dev: {
    soundCloudApiKey: '',
    stripeApiKey: '',
    youtubeApiKey: ''
  },
  prod: {
    soundCloudApiKey: '',
    stripeApiKey: '',
    youtubeApiKey: ''
  }
};

if (!App) App = {};

App.config = config['prod'];

if (env === "dev" || env === "development") App.config = config['dev'];