h1 {
    text-shadow: 0 1px 1px #fefefe;
    font-weight: 700;
}

p a:hover {
    text-decoration: underline;
}

.input-field.error {
    label { color: $error-color; }
    input { border-bottom: 1px solid $error-color; }
}