h1 {
    text-shadow: 0 1px 1px #fefefe;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.2rem;
    margin-top: 0;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
}

h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

ul {
    list-style-type: none;

    li {
        margin-bottom: 0.5rem;
    }
}

p a:hover {
    text-decoration: underline;
}

.input-field.error {
    label { color: $error-color; }
    input { border-bottom: 1px solid $error-color; }
}

@media (min-width: $tablet) {
    h1 {
        font-size: 3rem;
        line-height: 3.3rem;
    }
}