nav {
    .brand-logo {
        font-family: 'Courgette', cursive;
        font-size: 2rem;

        .small {
            font-size: 1.4rem;
        }
    }

    @media (min-width: $tablet) {
        font-size: 2.2rem;

        .brand-logo {
            font-size: 2.2rem;

            .small {
                font-size: 1.1rem;
            }
        }
    }
}