<template name="Contact">
    <div class="row">
        <div class="col s12">
            <p class="center-align space-top">
                <a href="http://www.github.com/AlexBeauchemin"><i class="icon-4x icon-github-sign"></i></a>
                <a href="http://www.linkedin.com/in/alexbeauchemin"><i class="icon-4x icon-linkedin-sign"></i></a>
            </p>
        </div>
    </div>

    <div class="row">
        <form role="form" class="col s12 m8 offset-m2 l6 offset-l3" data-action="send-email">
            <div class="input-field">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" maxlength="100">
            </div>
            <div class="input-field">
                <label for="email">*Email address</label>
                <input type="email" name="email" id="email" maxlength="100">
            </div>
            <div class="input-field">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" maxlength="100">
            </div>
            <div class="input-field">
                <label for="message">*Message</label>
                <textarea name="message" id="message" rows="3" class="materialize-textarea" maxlength="5000"></textarea>
            </div>
            <div class="input-field center-align">
                <button type="submit" class="btn waves-effect waves-light">Submit</button>
            </div>
        </form>
    </div>
</template>