<template name="Home">
    <h1 class="center-align">A simple collaborative music radio for live streams, partys or events</h1>

    <div class="card space-top-big z-depth-1">
        <ul>
            <li>Start a radio by choosing a name and hit the "create" button</li>
            <li>Add songs that you like to the playlist</li>
            <li>Invite people to add their favorite songs by sharing your unique url</li>
            <li>That's it, your radio is now ready!</li>
        </ul>
        <p class="space-top">The radio will continue playing related songs when your playlist ends. If you are a <a href="http://www.twitch.com">Twitch</a> streamer, login in with Twitch and let your viewers, followers or subscribers decide what will play next.</p>
    </div>

    <p class="space-top-big center-align">
        {{#if myRadio}}
            <a href="/radio/{{myRadio.url}}" class="btn btn-large waves-effect waves-light">Go to my radio</a>
        {{else}}
            <a href="#modal-create-radio" class="btn btn-large waves-effect waves-light" data-action="open-create-radio">Create your radio</a>
        {{/if}}
    </p>

    <div class="row space-top-big">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#top-radios" class="active">Popular</a></li>
                <li class="tab col s3"><a href="#recent-radios">Recent</a></li>
                <li class="tab col s3"><a href="#twitch-radios">Twitch</a></li>
            </ul>
        </div>
        <div id="top-radios" class="radios-list">
            {{#each radios}}
                <div class="col s12 m4 l3">
                    <div class="radio z-depth-1">
                        <h2>
                            <a href="/radio/{{url}}">{{name}}</a>
                            {{#if twitchChannel}}
                                <a href="http://www.twitch.tv/{{twitchChannel}}" class="right twitch" target="_blank"><img src="/twitch.png" alt="Twitch channel" /></a>
                            {{/if}}
                        </h2>
                        <div class="song">
                            <p class="subtitle center-align">Currently playing</p>
                            <a href="/radio/{{url}}">
                                <img src="{{getCurrentSongImage this}}" alt="" />
                            </a>
                        </div>
                        <p class="song-title">{{getCurrentSongTitle this}}</p>
                    </div>
                </div>
            {{/each}}
        </div>
        <div id="recent-radios" class="radios-list">Test 2</div>
        <div id="twitch-radios" class="radios-list">Test 3</div>
    </div>
</template>