<template name="Login">
    <div class="row">
        <h1 class="center-align">Login</h1>

        <form role="form" class="col s12" data-action="login">
            <div class="input-field">
                <input id="email" name="email" type="email" maxlength="100" />
                <label for="email">Email</label>
            </div>
            <div class="input-field">
                <input id="password" name="password" type="password" maxlength="100" />
                <label for="password">Password</label>
            </div>
            <p class="center-align">
                {{> ForgotPassword}}
            </p>

            <div class="input-field center-align">
                <button type="submit" class="btn waves-effect waves-light space-top">Login</button>
                <button type="button" class="btn btn-twitch waves-effect waves-light space-top" id="twitchLoginButton" data-action="login-twitch">Twitch Login</button>
            </div>
        </form>
    </div>
</template>