<template name="Radio">
    <div class="row">
        {{debug users}}
        {{#if radio}}
            <div class="col s12">
                <h1>{{radio.name}} <span class="small right">Users: {{users.length}}</span></h1>
            </div>
            {{#if isAdmin}}
                <div class="col s12 m7">
                    {{>FormAddSong}}
                    {{>Player}}
                </div>
                <div class="col s12 m5">
                    {{>Settings}}
                    {{>Playlist}}
                </div>
            {{else}}
                <div class="col s12">
                    {{>FormAddSong}}
                    {{>Player}}
                </div>
                <div class="col s12">
                    {{>Playlist}}
                </div>
            {{/if}}
        {{else}}
            <h2 class="center-align space-top">Radio not found</h2>
        {{/if}}
    </div>
</template>