<template name="Radio">
    {{#if radio}}
        <div class="row">
            <div class="col s12 m10">
                <h1>
                    {{#if radio.twitchChannel}}
                        <a href="http://www.twitch.tv/{{radio.twitchChannel}}" class="left twitch" target="_blank"><img src="/twitch.png" alt="Twitch channel" /></a>
                    {{/if}}
                    {{radio.name}}
                </h1>
            </div>
            <div class="col s12 m2 status left-align">
                Users: {{users.length}}<br />
                {{#if radio.live}}
                    Status: <span class="live">live</span>
                {{else}}
                    Status: <span class="offline">offline</span>
                {{/if}}
            </div>
        </div>
        <div class="row">
            {{#if isAdmin}}
                <div class="col s12 m7">
                    {{>FormAddSong}}
                    {{>Player}}
                </div>
                <div class="col s12 m5">
                    {{>Settings}}
                    {{>Playlist}}
                </div>
            {{else}}
                <div class="col s12">
                    {{>FormAddSong}}
                    {{>Player}}
                </div>
                <div class="col s12">
                    {{>Playlist}}
                </div>
            {{/if}}
        </div>
    {{else}}
        <div class="row">
            <h2 class="center-align space-top">Radio not found</h2>
        </div>
    {{/if}}
</template>