<template name="Register">
    <h1 class="center-align">Register</h1>

    <form role="form" class="col s12" data-action="register">
        <div class="input-field {{getSession "error.email"}}">
            <input id="email" name="email" type="email" maxlength="100" />
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="name" name="name" type="text" maxlength="50" />
            <label for="name">Name</label>
        </div>
        <div class="input-field {{getSession "error.password"}}">
            <input id="password" name="password" type="password" maxlength="100" />
            <label for="password">Password</label>
        </div>

        <div class="input-field center-align">
            <button type="submit" class="btn waves-effect waves-light full-width">Register</button>
            <button type="button" class="btn btn-twitch waves-effect waves-light space-top-big" id="twitchLoginButton" data-action="login-twitch">Twitch</button>
            <button type="button" class="btn btn-google waves-effect waves-light" data-action="login-google">Google</button>
            <button type="button" class="btn btn-facebook waves-effect waves-light" data-action="login-facebook">Facebook</button>
        </div>
    </form>
</template>