<template name="Reset">
    <div class="row">
        <form role="form" class="col s12 m8 offset-m2 l6 offset-l3">
            <h1 class="center-align">Reset password</h1>
            <div class="input-field space-top-big">
                <label for="password">New password</label>
                <input type="password" name="password" id="password" maxlength="255">
            </div>
            <div class="input-field center-align">
                <button type="submit" class="btn waves-effect waves-light">Submit</button>
            </div>
        </form>
    </div>
</template>