<template name="Playlist">
    <div class="playlist">
        <div class="collection with-header">
            <div class="collection-header">
                {{#if isAdmin}}
                    <h4 class="space-right">
                        Playlist
                        <button class="btn btn-flat" title="Clear Playlist" data-action="clear"><i class="material-icons">delete</i></button>
                    </h4>
                {{else}}
                    <h4>Playlist</h4>
                {{/if}}
            </div>

            {{#unless playlistLength radio}}
                <div class="collection-item collection-empty">
                    <p class="center-align"><span class="title">This playlist is empty</span></p>
                </div>
            {{/unless}}

            {{#each radio.playlistEnded}}
                {{>PlaylistItem song=this state="ended" isAdmin=false}}
            {{/each}}

            {{#each radio.playlist}}
                {{>PlaylistItem song=this state=this.state isAdmin=../isAdmin}}
            {{/each}}
        </div>
    </div>
</template>