<template name="Playlist">
    <div class="playlist">
        <div class="collection with-header">
            <div class="collection-header">
                {{#if isAdmin}}
                    <h4 class="space-right">
                        Playlist
                        <button class="btn btn-flat" title="Clear Playlist" data-action="clear"><i class="material-icons">delete</i></button>
                    </h4>
                {{else}}
                    <h4>Playlist</h4>
                {{/if}}
            </div>
            {{#unless playlistLength radio}}
                <div class="collection-item collection-empty">
                    <p class="center-align"><span class="title">This playlist is empty</span></p>
                </div>
            {{/unless}}
            {{#each radio.playlistEnded}}
                <div class="collection-item avatar" data-state="ended" data-position="{{position}}">
                    <img src="{{data.thumbnails.default.url}}" alt="" class="circle">
                    <div class="info">
                        <span class="title">{{data.title}} <span class="smaller">{{data.duration}}</span></span>
                        {{#if user}}
                            <span class="smaller">
                                Added by : {{user.name}}
                            </span>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
            {{#each radio.playlist}}
                <div class="collection-item avatar" data-state="{{this.state}}">
                    <img src="{{data.thumbnails.default.url}}" alt="" class="circle">
                    <div class="info">
                        <span class="title">{{data.title}} <span class="smaller">{{data.duration}}</span></span>
                        {{#if user}}
                            <span class="smaller">Added by : {{user.name}}</span>
                        {{/if}}
                    </div>
                    {{#if ../isAdmin}}
                        <div class="actions clearfix">
                            <a href="#" data-action="block-song">Block song</a>
                            <a href="#" data-action="block-user">Block user</a>
                            <a href="#" data-action="remove-song">Remove</a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</template>