<template name="Settings">
    <ul class="collapsible z-depth-0 options" data-collapsible="accordion">
        <li>
            <div class="collapsible-header waves-effect"><i class="material-icons">settings</i>Settings</div>
            <div class="collapsible-body">
                <div class="title">Visibility</div>
                <div class="divider"></div>
                <div class="switch">
                    <label>
                        Private
                        <input type="checkbox" name="public" id="public" {{isChecked true radio.public}} />
                        <span class="lever"></span>
                        Public
                    </label>
                </div>

                <div class="title">Radio Threshold <span class="right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Set the relative songs range, a smaller value will make the same songs play more often, a higher value will provide a wider range of relative songs"><i class="material-icons">info_outline</i></span></div>
                <div class="divider"></div>
                <div class="range-field">
                    <input type="range" id="threshold" min="5" max="25" value="{{radio.threshold}}" />
                </div>

                <div class="title">Limit submissions per user</div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s6">
                        <input name="limit-type" type="radio" id="limit-number" value="number" {{isChecked "number" radio.limitType}} /><label for="limit-number">Number</label>
                    </div>
                    <div class="col s6">
                        <input name="limit-type" type="radio" id="limit-time" value="time" {{isChecked "time" radio.limitType}} /><label for="limit-time">Time (minutes)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="range-field">
                        <input type="range" id="limit-value" min="1" max="100" value="{{radio.limitValue}}" />
                    </div>
                </div>

                <div class="title">Who can add songs?</div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s6">
                        <input name="access" type="radio" id="access-all" value="all" {{isChecked "all" radio.access}} /><label for="access-all">Everyone</label>
                    </div>
                    {{#if isTwitchUser}}
                        <div class="col s6">
                            <input name="access" type="radio" id="access-twitch" value="twitch" {{isChecked "twitch" radio.access}} /><label for="access-twitch">Twitch users</label>
                        </div>
                        <div class="col s6">
                            <input name="access" type="radio" id="access-follow" value="follow" {{isChecked "follow" radio.access}} /><label for="access-follow">Twitch followers</label>
                        </div>
                        <div class="col s6">
                            <input name="access" type="radio" id="access-subscribe" value="subscribe" {{isChecked "subscribe" radio.access}} /><label for="access-subscribe">Twitch subscribers</label>
                        </div>
                    {{else}}
                        <div class="col s6">
                            <input name="access" type="radio" id="access-twitch" value="twitch" disabled="disabled" /><label for="access-twitch">Twitch users</label>
                        </div>
                        <div class="col s6">
                            <input name="access" type="radio" id="access-follow" value="follow" disabled="disabled" /><label for="access-follow">Twitch followers</label>
                        </div>
                        <div class="col s6">
                            <input name="access" type="radio" id="access-subscribe" value="subscribe" disabled="disabled" /><label for="access-subscribe">Twitch subscribers</label>
                        </div>
                    {{/if}}
                    <div class="col s6">
                        <input name="access" type="radio" id="access-users" value="users" {{isChecked "users" radio.access}} /><label for="access-users">Logged users</label>
                    </div>
                    <div class="col s6">
                        <input name="access" type="radio" id="access-whitelist" value="whitelist" disabled="disabled" {{isChecked "whitelist" radio.access}} /><label for="access-whitelist">White list <a href="#"><i class="material-icons">list</i></a></label>
                    </div>
                </div>

                <div class="title">Who can skip songs?</div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s6">
                        <input name="skip" type="radio" id="skip-admin" value="admin" {{isChecked "admin" radio.skip}} /><label for="skip-admin">Only Me</label>
                    </div>
                    <div class="col s6">
                        <input name="skip" type="radio" id="skip-all" value="all" {{isChecked "all" radio.skip}} /><label for="skip-all">Everyone</label>
                    </div>
                </div>

                <div class="title">Allow Voting</div>
                <div class="divider"></div>
                <div class="switch">
                    <label>
                        No
                        <input type="checkbox" name="allowVote" id="allowVote" {{isChecked true radio.allowVote}} />
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>

                <div class="title">Blacklist</div>
                <div class="divider"></div>
                <p><a href="#">Blacklisted songs</a> - <a href="#">Blacklisted users</a></p>

                <div class="row space-top">
                    <div class="col s6 right-align right">
                        <button class="btn waves-effect waves-light red" data-action="delete-radio">Delete radio</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</template>