<template name="TopRadios">
    <div id="top-radios" class="radios-list col s12">
        {{#unless ../topRadios.fetch.length}}
            <div class="col s12">
                <h2 class="center-align empty">There is no live radios</h2>
            </div>
        {{/unless}}
        {{#each ../topRadios}}
            {{> TopRadiosItem radio=this}}
        {{/each}}
    </div>
    <div id="recent-radios" class="radios-list col s12">
        {{#unless ../recentRadios.fetch.length}}
            <div class="col s12">
                <h2 class="center-align empty">There is no live radios</h2>
            </div>
        {{/unless}}
        {{#each ../recentRadios}}
            {{> TopRadiosItem radio=this}}
        {{/each}}
    </div>
    <div id="twitch-radios" class="radios-list col s12">
        {{#unless ../twitchRadios.fetch.length}}
            <div class="col s12">
                <h2 class="center-align empty">There is no live twitch radios</h2>
            </div>
        {{/unless}}
        {{#each ../twitchRadios}}
            {{> TopRadiosItem radio=this}}
        {{/each}}
    </div>
</template>