[data-route="home"] {
    background: url('/bg.jpg') no-repeat top center;
    background-size: cover;

    main {
        h1 {
            margin-top: 40px;
        }

        ul {
            font-size: 20px;
            list-style-type: decimal;

            li {
                list-style-type: decimal;
            }
        }

        p {
            font-size: 18px;
        }

        .card {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 5px;
            padding: 50px 100px;
        }
    }
}