[data-route="home"] {
    background: url('/bg.jpg') no-repeat top center;
    background-size: cover;

    main {
        align-items: center;
        display: flex;

        ul {
            list-style-type: decimal;
            padding-left: 1.5rem;

            li {
                list-style-type: decimal;
            }
        }

        p {
            font-size: 0.9rem;
        }

        .card {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 5px;
            padding: 20px;
        }
    }

    @media (min-width: $tablet) {
        main {
            font-size: 20px;

            .card {
                padding: 50px 100px;
            }
        }
    }
}