[data-route="home"] {
    main {
        align-items: center;
        display: flex;

        h1 {
            margin: 10px 0 30px 0;
        }

        p {
            font-size: 0.9rem;
        }

        .tabs {
            border-top: 2px solid $primary-color;
        }

        .card {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 5px;
            border-top: 5px solid $primary-color;
            margin-top: 30px;
            padding: 20px;

            ul {
                list-style-type: decimal;
                margin-top: 0;
                padding-left: 1.5rem;

                li {
                    list-style-type: decimal;
                }
            }
        }

        .radios-list {
            color: $primary-color;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            .radio-container {
                display: flex;
                margin-left: 0;
                width: 100%;
            }

            .empty { margin-top: 30px; }
            a { color: $primary-color; }
            p { margin: 10px 0 0 0; }

            img {
                display: block;
                width: 100%;
            }

            h2 {
                font-size: 20px;
                font-weight: bold;
                line-height: 26px;
                margin: 0 0 10px 0;

                .twitch {
                    background-color: $colorTwitch;
                    display: inline-block;
                    padding: 3px 5px;
                    position: absolute;
                    right: 0;
                    top: 0;

                    img {
                        height: 20px;
                        width: auto;
                    }
                }
            }

            .radio {
                background: rgba(255, 255, 255, 0.9);
                border-radius: 5px;
                border-top: 5px solid #222831;
                margin-top: 30px;
                padding: 10px 20px 10px 20px;
                position: relative;
            }

            .song { position: relative; }
            .song-title { font-size: 12px; }

            .subtitle {
                background: rgba(0,0,0,0.6);
                color: rgba(255,255,255,0.9);
                margin: 0;
                padding: 3px 10px;
                position: absolute;
                top: 0;
                width: 100%;
            }
        }
    }

    @media (min-width: $tablet) {
        background: url('/bg.jpg') no-repeat top center;
        background-position: 0 60px;
        background-size: 100% auto;

        main {
            font-size: 20px;

            h1 {
                margin: 30px 0 50px 0;
            }

            .card {
                padding: 50px 100px;
            }

            .radios-list {
                .radio-container {
                    width: 33.33333333%;
                }

                .empty {
                    margin-top: 70px;
                }
            }
        }
    }

    @media (min-width: $desktop) {
        main {
            .radios-list {
                .radio-container {
                    width: 25%;
                }
            }
        }
    }
}