[data-route="radio"] {
    main {
        h1 {
             .small {
                color: rgba(0,0,0,0.5);
                display: inline-block;
                font-size: 12px;
                font-weight: normal;
                padding-left: 20px;
            }
        }

        .controls {
            button {
                width: 100%;
            }
        }

        @media (min-width: $tablet) {
            .controls {
                button {
                    width: auto;
                }
            }

            .settings-container,
            .playlist-container {
                float: right;
            }
        }
    }
}