[data-route="radio"] {
    main {
        h1 {
            .twitch {
                background-color: $colorTwitch;
                border-radius: 3px;
                display: inline-block;
                height: 35px;
                margin-right: 10px;
                padding: 0 10px;

                img {
                    height: 30px;
                    margin-top: 3px;
                    vertical-align: top;
                    width: auto;
                }
            }
        }

        .info {
            color: rgba(0, 0, 0, 0.5);
            display: inline-block;
            font-size: 12px;
            font-weight: normal;
            line-height: 16px;

            span { color: $success-color; }
            span.offline { color: $error-color; }
        }

        .controls {
            button {
                width: 100%;
            }
        }

        @media (min-width: $tablet) {
            h1 {
                .twitch {
                    margin-top: 9px;
                }
            }

            .info {
                text-align: left;
            }

            .controls {
                button {
                    width: auto;
                }
            }

            .settings-container,
            .playlist-container {
                float: right;
            }
        }
    }
}