<template name="Footer">
    <div class="container">
        <a href="/contact" class="grey-text text-lighten-4">Contact</a>
        <span class="spacer"> - </span>
        <a href="#" class="grey-text text-lighten-4">Buy me a beer <img src="/beer-icon.png" alt="" /></a>
        <span class="spacer"> - </span>
        <iframe src="//ghbtns.com/github-btn.html?user=AlexBeauchemin&repo=ambiant&type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
        <a class="twitter-share-button"
           href="https://twitter.com/share">
            Tweet
        </a>
        <p class="grey-text text-lighten-4">Ambiant © {{getCurrentYear}}</p>
    </div>
</template>