<template name="Header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo">Ambiant.io</a>
                <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    {{#if myRadio}}
                        {{#unless isAdmin}}
                            <li><a href="/radio/{{myRadio.url}}">My radio</a></li>
                        {{/unless}}
                    {{else}}
                        <li><a href="#modal-create-radio" data-action="open-create-radio">New radio</a></li>
                    {{/if}}
                    {{#if isGuest}}
                        <li><a href="#modal-login" data-action="open-login-modal">Log In</a></li>
                        <li><a href="#modal-signup" data-action="open-signup-modal">Register</a></li>
                    {{else}}
                        <li><a href="#" data-action="logout">Log out</a></li>
                        <li class="username">({{currentUser.profile.name}})</li>
                    {{/if}}
                </ul>
                <ul class="side-nav" id="mobile-menu">
                    <li><a href="/">Home</a></li>
                    {{#if myRadio}}
                        <li><a href="/radio/{{myRadio.url}}">My radio</a></li>
                    {{else}}
                        <li><a href="#modal-create-radio" class="modal-trigger">New radio</a></li>
                    {{/if}}
                    {{#if isGuest}}
                        <li><a href="#modal-login" data-action="open-login-modal">Log In</a></li>
                        <li><a href="#modal-signup" data-action="open-signup-modal">Register</a></li>
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/contact">Contact</a></li>
                    {{else}}
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="#" data-action="logout">Log out</a></li>
                        <li class="username">({{currentUser.profile.name}})</li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </div>
</template>
