.modal {
    max-width: 400px;

    h1, h2, h3, h4, h5 {
        text-align: center;
    }

    .modal-content {
        h2, h3, h4 {
            margin-bottom: 15px;
            padding-bottom: 15px;
        }
    }

    .input-field {
        margin-top: 2rem;
    }
}

#modal-login {
    .input-field:first-child {
        margin-top: 0;
    }
}

#modal-login, #modal-signup {
    max-width: 700px;
    width: 90%;

    .row {
        align-items: center;
        display: flex;
        margin-top: 20px;
    }

    h5 {
        margin: 0;
        padding: 0;
    }

    .input-field {
        margin: 0;
    }
}