.video-wrapper {
    height: 0;
    margin-bottom: 10px;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
    }

    &[data-state="stop"] {
        .cover-play { display: block; }

        &[data-items="0"] {
            .cover-play { display: none; }
            .cover-empty { display: block; }
        }
    }

    .cover {
        background-color: $primary-color;
        bottom: 0;
        color: #fff;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        &.cover-play {

            a:hover,
            a:active,
            a:focus {
                h4 i { text-shadow: 1px 1px 11px #000; }
            }

            h4 i {
                color: $secondary-color;
                transition: text-shadow 0.3s;
                text-shadow: 1px 1px 3px #000;
            }
        }

        .valign-wrapper {
            height: 100%;

            h4 {
                width: 100%;
            }
        }
    }
}

