.playlist {
    h4 {
        button {
            float: right;
            padding: 0 0 0 20px;

            &:hover { @extend .red-text; }

            i {
                font-size: 2.2rem;
                transform: translateY(-4px);
            }
        }
    }

    .smaller { font-size: 11px; }

    .collection {
        margin: 0;
        overflow: visible;

        .collection-item {
            align-items: center;
            color: $primary-color;
            display: flex;
            height: auto;
            padding: 0;
            position: relative;

            &.has-menu {
                padding-right: 40px;
            }

            &.avatar {
                .circle {
                    left: inherit;
                    margin: 10px 10px;
                    position: inherit;
                }
            }

            &[data-state="playing"] {
                background-color: $secondary-color;
                color: #fff;

                .dropdown-button { color: #fff; }
            }

            &[data-state="ended"] {
                background-color: rgba(0,0,0,0.05);
                color: rgba(0,0,0,0.5);
                opacity: 0.5;
                transition: all 0.3s;
                overflow-y: hidden;

                .time { padding-right: 10px; }
            }

            .info {
                flex-grow: 1;
                line-height: 20px;
                margin: 10px 0;

                p { margin: 0; }
            }

            .time {
                padding-left: 10px;
            }

            .dropdown-button {
                align-items: center;
                display: flex;
                height: 100%;
                padding-left: 12px;
                position: absolute;
                right: 0;

                i { font-size: 32px; }
            }

            .actions {
                li:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .collection-empty {
            color: rgba(0,0,0,0.5);
            padding-left: 20px;

            p {
                margin-bottom: 0;
                padding-bottom: 20px;
                padding-right: 20px;

                span {
                    padding: 0;
                }
            }
        }
    }
}

.search {
    position: relative;

    label {
        max-width: 100%;
        overflow: hidden;
        padding-right: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .collection {
        left: 10px;
        //opacity: 0.95;
        position: absolute;
        top: 37px;
        width: calc(100% - 20px);
        z-index: 2;

        a {
            color: $primary-color;
            padding-right: 45px;
            position: relative;

            &:hover, &:active, &:focus, &.active {
                background-color: $secondary-color !important;
                color: #fff;

                .btn { background-color: #fff; }
            }

            .btn {
                align-items: center;
                background-color: transparent;
                border: none;
                border-left: 1px solid #e0e0e0;
                border-radius: 0;
                bottom: 0;
                color: $primary-color;
                display: flex;
                height: 100%;
                justify-content: center;
                margin: 0;
                padding: 0 15px;
                position: absolute;
                right: 0;
                top: 0;
                transition: all 0.2s;
                width: auto;

                &:hover, &:active, &:focus {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }
    }

    .loading {
        margin: 0;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}