.playlist {
    .smaller { font-size: 11px; }

    .collection {
        margin: 0;
        overflow: visible;

        .collection-header {
            padding: 0 10px;

            h3 {
                line-height: 40px;
                margin: 0;

                button {
                    float: right;
                    line-height: 40px;
                    padding: 0 0 0 20px;

                    &:hover { @extend .red-text; }

                    i {
                        font-size: 2rem;
                    }
                }
            }
        }

        .collection-item {
            align-items: center;
            color: $primary-color;
            display: flex;
            height: auto;
            padding: 0 10px 0 0;
            position: relative;

            .info a {
                color: $primary-color;
                text-decoration: none;

                &:hover { text-decoration: underline; }
            }

            &.has-menu,
            &.has-skip {
                padding-right: 40px;
            }

            &.has-menu.has-skip {
                padding-right: 65px;

                .btn-skip {
                    padding-right: 0;
                    right: 30px;
                }
            }

            &.avatar {
                .circle {
                    left: inherit;
                    margin: 10px 10px;
                    position: inherit;
                }
            }

            &[data-state="playing"] {
                background-color: $secondary-color;
                color: #fff;

                .info a { color: #fff; }
                .dropdown-button { color: #fff; }
            }

            &[data-state="ended"] {
                background-color: rgba(0,0,0,0.05);
                color: rgba(0,0,0,0.5);
                opacity: 0.5;
                transition: all 0.3s;
            }

            .info {
                flex-grow: 1;
                line-height: 20px;
                margin: 10px 0;

                p { margin: 0; }
            }

            .time {
                padding-left: 10px;
            }

            .dropdown-button,
            .btn-skip {
                align-items: center;
                display: flex;
                height: 100%;
                padding: 0;
                position: absolute;
                right: 0;

                i { font-size: 32px; }
            }

            .btn-skip {
                color: #fff;
                padding-right: 5px;

                i { transform: translateY(-2px); }
            }

            .actions {
                li:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .collection-empty {
            color: rgba(0,0,0,0.5);
            padding-left: 20px;

            p {
                margin-bottom: 0;
                padding-bottom: 20px;
                padding-right: 20px;

                span {
                    padding: 0;
                }
            }
        }

        .collection-show-more {
            background-color: rgba(0,0,0,0.05);
            color: rgba(0,0,0,0.5);
            opacity: 0.5;
            transition: all 0.3s;

            p {
                margin: 0;
                padding: 0;
                width: 100%;

                a {
                    display: block;
                    padding: 5px 0;
                    width: 100%;
                }
            }
        }
    }

    @media (min-width: $tablet) {
        .collection {
            .collection-header {
                padding: 10px 10px 10px 15px;
            }
        }
    }
}