var env = process.env.NODE_ENV;
var config = {
  dev: {
    youtubeApiKey: '',
    twitchClientId: '',
    twitchClientSecret: '',
    mailgunApiKey: ''
  },
  prod: {
    youtubeApiKey: '',
    twitchClientId: '',
    twitchClientSecret: '',
    mailgunApiKey: ''
  }
};

if (!App) App = {};

App.config = config['prod'];

if (env === "dev" || env === "development") App.config = config['dev'];